*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: #333;
   overflow: hidden;
}
.titulo{
    
    width: 30%;
    color: #fff;
    margin: 0 auto;
}
h1{
    font-weight: bold;
}
.quadro-de-jogo{
    top: 100px;
    width: 50%;
    height: 300px;
    border: 5px solid #000;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-bottom: #000 solid 10px;
}
#pontos{
    background-color: #fff;
    position: absolute;
    
    font-size: 30px;
 left:690px;
}
#pontosm{
    background-color: #fff;
    position: absolute;
    left: 10px;
    font-size: 30px;
 
}



.correndo{
    height: 100px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 1px;
    z-index: 1;

    
}

.pulando{
    height: 100px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 1px;
    animation: pulo 500ms  ease-out;
    z-index: 1;
}

.armadilha{
    height: 40px;
    width: auto;
    position: absolute;
    bottom: 0;
    z-index: 2;
    
   animation: armadilha-animation 1s infinite linear; 
}
.armadilha2{
    height: 40px;
    width: auto;
    position: absolute;
    bottom: 0;
    z-index: 2;
    
   animation: armadilha-animation 0.6s infinite linear; 
}
@keyframes armadilha-animation{
    from{
right: 0;
    }
    to{
        right: 100%;

    }
}
@keyframes pulo{
    0%{
        bottom: 0;
    }
   25%{
    bottom: 100px;
   }
    50%{
        bottom: 100px;
    }
    75%{
        bottom: 50px;
    }
    100%{
        bottom: 0;
    }
}
.botao{
    
    width: 30%;
    color: #fff;
    margin: 43%; 
    margin-top:8% ;
}
button{
    font-weight: bold;
    padding: 10px;
    font-size: 50px;
   
}